################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TabIt/v16/Server/sqlite3
/.vs/TabIt/v16/.suo
